{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<h1>Bienvenue sur QuizMaster!</h1>

<p><h3>Teste ton cerveau, explore des univers, progresse chaque jour. </p>

<a href="{{ path('accueil_list_niveaux') }}">Commencer</a>

{% endblock %}
