{% extends 'base.html.twig' %}

{% block title %}Liste niveaux
{% endblock %}

{% block body %}

	<h1>Choisissez un niveau</h1>

	<ul>
		{% for niveau in niveaux %}
			<li>
				<a href="{{ path ('app_quiz_liste',{ niveau : niveau.id }) }}"class="btn btn-turquoise mt-3">
					{{ niveau.nom }}
				</a>
			</li>
		{% endfor %} 
	</ul>

{% endblock %}
