{% extends 'base.html.twig' %}

{% block title %}List Quiz
{% endblock %}

{% block body %}

	<h1>List Niveaux</h1>

	{% for niveau in niveaux %}
		<a href="{{ path ('app_quiz_liste',{ niveau : niveau.id }) }}">
			{{ niveau.nom }}
		</a>
		<br>

	{% endfor %}


{% endblock %}
