{% extends 'base.html.twig' %}

{% block title %}Liste niveaux
{% endblock %}

{% block body %}

	<h1>Explorer les niveaux</h1><br>

	{% for niveau in niveaux %}
		<a href="{{ path ('app_quiz_liste',{ niveau : niveau.id }) }}">
			{{ niveau.nom }}
		</a>
		<br>

	{% endfor %} 


{% endblock %}
