{% block title %}Détails Quiz
{% endblock %}


{% block body %}

	<h2>Niveau :
		{{ quiz.niveau.nom }}</h2>
	<br>
	<h2>Titre quiz:
		{{ quiz.titre }}</h2>
	<br>
	<a href="{{ path('app_quiz_executer' , { id: quiz.id}) }}">Commencer</a>


{% endblock %}
