{% extends 'base.html.twig' %}

{% block title %}Liste des quiz
{% endblock %}

{% block body %}
	<h1>Voici les quiz pour le niveau choisi.</h1><br>

	{% for quiz in quizzes %}
		<ul>
			<li><a href='{{path('app_start_quiz',{'id':quiz.id})}}'>{{ quiz.titre }}</a></li>
		</ul>
	{% endfor %}
	<br>
	<div class="navigation">
		{{ knp_pagination_render(quizzes, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
	</div>
{% endblock %}
