{% extends 'base.html.twig' %}

{% block title %}Liste des quiz{% endblock %}

{% block body %}
    <h1>Voici les quiz pour le niveau choisi.</h1>

    {% for q in quiz %}
	<ul>
		<li>
        <a href="{{ path('app_details_quiz', { id: q.id }) }}">
        	{{ q.titre }}
        </a>
		</li>
    </ul>
    {% endfor %}
	<br>
    <div class="navigation">
        {{ knp_pagination_render(quiz, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
    </div>
{% endblock %}
