{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!
{% endblock %}

{% block body %}


	{% for q in quiz %}
		<a href="{{ path ('app_details_quiz',{ id : q.id }) }}">
			{{ q.titre }}
		</a>
		<br>

	{% endfor %}


{% endblock %}
